doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(language='javascript', type='text/javascript', src='/javascripts/valid.js')
  body
    block content
